.main {
    display: grid;
    background-color: hsl(30, 38%, 92%);
    width: 1440px;
    height: 900px;
    justify-content: center;
    align-content: center;
}

.box {
    display: grid;
    width: 700px;
    height: 500px;
    grid-template-columns: 50% 50%;
    background-color: white;
    border-radius: 15px;

}

.perfume {
    height: 500px;
}
.perfume img {
    height: 500px;
    width: 350px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.box2 {
    display: grid;
    grid-template-rows: max-content;
    padding: 25px;
    height: 450px;
    width: 300px;
}

.text1 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    width: 100px;
    opacity: 0.5;
}

.heading1 {
    font-family: 'Fraunces', serif;
    font-size: 35px;
    align-self: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-align: left center;
}

.text2 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.4;
}

.prices {
    display: grid;
    grid-template-columns: 55% 45%;
}

.price1 {
    align-self: center;
    text-align: left;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 35px;
}

.price2 {
    align-self: center;
    text-align: left;
    opacity: 0.8;
    text-decoration-line: line-through;
}

.cart {
    align-self: center;
    text-align: center;
    background-color: hsl(158, 36%, 37%);;
    color: white;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}